html {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

/* start-typing your css styles from here below haita */

/* chatgpt ley sakena so i used bing's co-pilot and it solved my issue */


/* Universal Selector : Styling to entire page */
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;  
}

body, button{
    /* background-color: #1a1a29; */

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* creating pattle for the root colors  */
:root{
    --light-navy: #1a1a29;
    --dark-navy: #181824;
    --dark-purple:#7562E0;
}

/* -----------Styling the Navigation bar----------------- */
#navigation{
    height:80px;
    width:100%;
    background-color: green;

    padding:19px 160px 19px 160px;
    background-color: #181824;

    box-sizing: border-box; /* Removes the scroll bar */

    display:flex;
    justify-content: space-between;
}

#navigation div{
    display:inline;
    background-color: var(--dark-navy);
}

#navigation a, .buttons a{
    text-decoration: none;
    color:white;
}

#navigation #name a{
    font-size: 28px;
    line-height: 42px;
    color:#7562E0;
}

#navigation #options{
    width:450px; 
    height:27px;

    display:inline-flex;
    justify-content: space-between;                                                                                                                                                                                                                                                                          
}

#navigation #options a{
    font-size: 18px;
}

#navigation #options #home{
    color:#7562E0;
}

/*------Navigation bar styling ends here--------- */


/* -----------Hero section starts--------- */

#mainContent{
    width:100%;
    height:calc(100vh - 80px);
    background-color: var(--light-navy);

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#introText{
    margin-bottom: 20px;
}

.contentLeft{
    width:39%;
    margin-left: 105px;
    

}

.contentLeft #introText #text1{
    font-size: 32px;
    line-height: 48px;
    color:#FFFFFF;   
}

.contentLeft #introText #text2{
    font-size: 52px;
    line-height: 78px;
    color:#F5F5F5;
}

.contentLeft #introText #text3{
    font-size: 18px;
    line-height: 30px;
    color:#FFFFFF;
    
}

.contentLeft .buttons button, #endBtn{
    width:160px;
    height:48px;
    border-radius: 8px;
    padding:12px 25px 12px 25px;
    color:#FFFFFF;

    font-size: 16px;
    line-height: 24px;

    display:flex;
    align-items: center;
    justify-content: center;
}

.buttons .aboutMe, .buttons .projects{
    display: inline-block;

}

.buttons .aboutMe button, #endBtn{
    background-color: var(--dark-purple);
}

.buttons .projects button{
    background-color: var(--dark-navy);
    border: 2px solid var(--dark-purple);
    margin-left: 20px;
}

.buttons img{
    margin-left: 5px;
}

.contentRight{
    height:500px;
    width:500px;
    /* background-color: navy; */

    background-image: url(/Images/rpp.png);
    background-size: 392px 408px;
    background-repeat: no-repeat;
    

}

/* -----------Hero section ends--------- */



/* Rectangular box divider stars */
#rectangularBox{
    width:100%;
    height:128px;
    background-color: var(--dark-navy);
}
/* Rectangular box divider ends */


/* About me starts  */

#description{
    height:(100vh-128px);
    width:100%;
    background-color: var(--light-navy);
}

.about_me_div{
    background-color: var(--light-navy);
    padding-top: 50px;
}

.subHeadings{
   font-size: 32px;
   line-height: 48px;
   color:var(--dark-purple);
   margin-left: 168px;
   margin-bottom:15px;
}

.about_me_description{
    font-size: 18px;
    line-height: 33px;
    margin-left: 168px;
    color:#FFFFFF;

    text-align: justify;
    width:78%;
    margin-bottom: 50px;
}
/* About me ends  */

/* Qualification starts  */
.qualifications_div{
    background-color: var(--light-navy);
    margin-top:20px;
}

#qualificationTitle{
margin-top:60px;
margin-bottom:20px;
}

table{
    margin-left: 145px;
    color:#FFFFFF;
    border-radius: 8px;
    border:3px solid var(--dark-purple);

    width:1066px;
    height:284px;
    border-collapse:separate;
    border-spacing: 0px;   
}

th,td{
   text-align: center;

    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:0.5px solid #FFFFFF;
    border-bottom:0.5px solid #FFFFFF;
    border-collapse: collapse;
    border-spacing:0px;
}

table tr th{
    font-size: 24px;
    line-height: 31.2px; 
}

table tr td{
    font-size:15px;
    line-height: 23.4px;
}

th:first-child, td:first-child {
    border-left: none;
}

th:last-child, td:last-child {
    border-right: none;
}

tr:first-child th {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}
/* Qualification ends  */

/* Interest and hobbies starts  */
#projects_and_hobbies_main_div,#featuredProjectsMainDiv,.footerMainDiv{
    height:100%;
    width:100%;
    background-color: var(--light-navy);
}


#interest_hobbies_title,#featured_projects_title, #footer_title{
    padding-top:80px;            /* stying using padding is a bad way, find different way later */
    margin-bottom: 20px;
}

#interest_hobbies_title{
    margin-bottom:50px;
    padding-top:120px;
}


.interest_cards_div{
    margin-left: 168px;

    height:600px;
    width:87%;

    display:flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap:21px;

    margin-bottom: 80px;
}

.interestCards{

width:341px;
height:338px;
border-radius:16px;
border: 3px solid var(--dark-purple);
}



/* Interest and hobbies inner elements starts*/
.interest_cards_div{
    margin-top: 80px;
}


.interest_cards_div .div2, .interest_cards_div .div4, .interest_cards_div .div6{
    border:3px solid #FFFFFF;
}

.interest_cards_div .div2 .interestTitle, .interest_cards_div .div4 .interestTitle, .interest_cards_div .div6 .interestTitle{
    color:var(--dark-purple);
}

.interest_cards_div i{
    color:#FFFFFF;
    font-size: 60px;
 
}

.interest_cards_div .interestCards{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:35px;

    padding-left:20px;
    padding-right:20px;
    padding-bottom:25px;

}

.interest_cards_div .interestTitle{
    font-size: 22px;
    line-height: 40px;
    color:#FFFFFF;

    margin-bottom: 5px;
    margin-top:15px;
}

.interest_cards_div .interestParagraph{
    font-size: 15px;
    line-height: 32px;
    color:white;
    text-align: center;
    font-weight:500px;
    
}


/* Interest and hobbies inner elements ends*/


/* Interest and hobbies ends  */

/* Featured project starts  */
.projects_cards_div{
    margin-left: 168px;

    height:100%;
    width:87%;

    display:flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap:21px;
}


.projectCards{

    width:344px;
    height:500px;
    border-radius:8px;
    background-color: #31313F;
    }

.featured_project_description{
    font-size: 18px;
    line-height: 33px;
    color:#FFFFFF;

    text-align: justify;
    width:78%;
    margin-bottom: 20px;
}

/* Featured projects inner elements starts*/
.projectCards{
    display:flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.projectCards .projectImg{
    /* background-color: red; */
    width:311px;
    height:200px;
    border:2px solid var(--dark-purple);
    border-radius: 8px;
    margin-top:15px;
    margin-bottom: 15px;

    background-image: url(Images/project1.svg);
}

.projImg1{
    background-image: url("Images/project1.png") !important;
    background-size: cover;
}
.projImg2{
    background-image: url("Images/project2.png") !important;
    background-size: cover;
}
.projImg3{
    background-image: url("Images/project3.png") !important;
    background-size: cover;
}


.projectCards .projectDescription{
    /* background-color: blue; */
    width:303px;
    height:135px;
    border-radius: 8px;

    margin-bottom: 15px;
    
}

#projectDetails{
    font-size: 15px;
    line-height: 32px;
    color:white;
}

.projectCards .projectBtn{
    /* background-color: aqua; */ /* i built this outlines first , code order = top to bottom and then i built things inside it i.e. 2 buttons -> it is like tracing */
    width:303px;
    height:50px;
    border-radius: 8px;
}

.projectBtn{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:145px;
    width:43px;

    border-radius: 8px;
    background-color: 2px solid var(--dark-purple);

    position:absolute;
    bottom:30px;
}

a {
    color: inherit;  /* Inherit the color from the parent element (body) */
    text-decoration: none;  /* Remove the underline */
}

.projectBtn button{
    padding:12px 25px 12px 25px;
    font-size: 16px;
    line-height: 24px;

    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border:2px solid var(--dark-purple);

}
.projectBtn #liveBtn{
    color:#FFFFFF;
    background-color: var(--dark-purple);
}

.projectBtn #Github{

    color:#FFFFFF;
    background-color: #31313F;
}

.projectCards .projectDescription #projectDescTitle{
    font-size: 24px;
    color:var(--dark-purple);
    font-weight: 600px;
    line-height: 46px;
}
/* Featured projects inner elements ends*/

/* Featured project ends  */


/* footer starts */

.footerContent{
    margin-left:168px;
    width:70%;

    display:flex;
    justify-content: space-between;
}

.footerDescription{
    font-size: 18px;
    line-height: 27px;
    color:#FFFFFF;

    text-align: justify;
    width:100%;
    margin-bottom: 40px;
}


#footerRectangularBox{
width:100%;
height:120px;
background-color: var(--dark-navy);

display:flex;
flex-direction: column;

align-items: center;
justify-content: center;
}

.footerContent #socials i{
/*     height:320px;
    width:320px; -> these doesn't change the size of the icon you need to treat it as a font and use font icon */
    color:var(--dark-purple);
    font-size: 32px;

    padding-right: 20px;
}


input{
    background-color: #32323f;
    border-radius: 8px;
    border:none;

    padding-left: 20px;
}
/* Changing the color of text inside the input box */
input[type="text"],input[type="email"] {
    color: white;  
    font-size: 15px;

}

input[id="name"], input[id="mail"]{
    width:472px;
    height:62px;
}

input[id="Message"]{
    height:98px;
    width:472px;
}

/* input[placeholder="Name"], input[placeholder="Email"], input[placeholder="Message"]{   
} 
-can't style it this way as this is styles the entire input element, need to use a pseudo element :: to decorate small texts*/

input::placeholder{
    font-size: 16px;
    line-height:24px;
    font-weight: 500;
    color:#F5F5F5;
    opacity: 50%;
}

#endBtn{
    font-weight: 500;
}

form p{
    color:#FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}

.footerLastMsg{
    color:#FFFFFF;
    opacity:40%;
    font-size:16px;
    line-height: 24px;
    font-weight: 500;

    margin-top: 100px;
    padding-top:20px;
}

/* Footer ends */

/* Extra hover effects */
button:hover{
    cursor: pointer;

}

/* Adding more effects */

/* cool hover effects to button and anchor tags*/

button:hover{
    background: linear-gradient(45deg,
        #6a5acd, #8a2be2, #5f9ea0, #20b2aa,
        #4682b4, #778899, #8b008b, #6a5acd);
position: relative;
top: 0px;
left: 0px;
background-size:600%;

border-radius:10px;
animation: glowingAnimation 20s linear infinite;
}

/* animating underline starts */
a{
    position:relative;
}

a.lineAnimation::after{ /* Adding background as underline after anchor text */
    content: '';
  background: linear-gradient(45deg, #9b4dff, #d500f9, #8c2eff, #6200ea);


    position:absolute;
    bottom:0px; /* positioning the background img like underline */
    left:0px;

    height:2px;
    width:0%;
    transition: width 0.4s ease;
}

a.lineAnimation:hover::after{ /* when anchor tag is hovered, make changes in after contents */
    width:100%; /* increase width to 100% */
    animation: glowingAnimation 20s linear infinite; /* add this (background-position) animation to background inside anchor tag when anchored tag is hovered */
}

@keyframes glowingAnimation{
 0% {
    background-position: 0 0;
}
 50% {
    background-position: 400% 0;
}
 100% {
    background-position: 0 0;
}
}


#socials i:hover{
    transform: scale(1.1);
}

/*animating the intro texts*/

@keyframes fade_animation{
    0%{
        opacity:0;
    }
    25%{
        opacity:0.25;
    }
    50%{
        opacity:0.5;
    }
    75%{
        opacity:0.75;
    }
    100%{
        opacity:1;
    }
}

#text1{
    opacity:0;
    animation:fade_animation 1.25s linear 0s forwards;
}

#text2{
    opacity:0;
    animation:fade_animation 1.5s linear 1s forwards;
}


/* 🔴mousemove animation */


